<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pku.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders (user_id, product_id, order_status, create_time) VALUES
        (#{userId}, #{productId}, #{orderStatus}, #{createTime})
    </insert>
</mapper>
